@page "/"

<h1>My Theme:@themeName</h1>
<h2>My Name:@myName</h2>
<h2>The current Date and Time:@datetime</h2>

@code{
    string themeName = "Swimming";
    string myName = "Sameep Pradeep";
    DateTime datetime =  DateTime.Now;
}