@page "/poolnameslist"
<h3>PoolNamesList</h3>

<button class="btn btn-primary" @onclick="DisplayList">Show List</button>
@for(int i = 0 ; i < numberOfTimes; i++)
{
    if(poolnameslist.Length > 0){
     <p>@poolnameslist[i]</p>   
    }
    
}
<input type="number" value="5" @onchange="(e)=> UpdateResults(int.Parse(e.Value.ToString()))">
@code {
    string[] poolnameslist = new string[]{};
    int numberOfTimes = 5;
    public void  DisplayList(){
        poolnameslist = new string[]{"International Aquatic Center", "National Swimming Pool", " FINA Official Pool", "MP Swimming Pool", "Sharks Stadium"};
    }
    public void UpdateResults(int amount)
    {
    if(amount > 0 && amount < 6){
        numberOfTimes = amount;
    }
       
    }
}
