@page
@model WEB315_Assignments_ThemeSwim.Pages_ThemeSwim.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ThemeSwim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThemeSwim.EventName" class="control-label"></label>
                <input asp-for="ThemeSwim.EventName" class="form-control" />
                <span asp-validation-for="ThemeSwim.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeSwim.BookingDate" class="control-label"></label>
                <input asp-for="ThemeSwim.BookingDate" class="form-control" />
                <span asp-validation-for="ThemeSwim.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeSwim.Competition" class="control-label"></label>
                <input asp-for="ThemeSwim.Competition" class="form-control" />
                <span asp-validation-for="ThemeSwim.Competition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeSwim.PoolName" class="control-label"></label>
                <input asp-for="ThemeSwim.PoolName" class="form-control" />
                <span asp-validation-for="ThemeSwim.PoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeSwim.EntryPrice" class="control-label"></label>
                <input asp-for="ThemeSwim.EntryPrice" class="form-control" />
                <span asp-validation-for="ThemeSwim.EntryPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
